<!--#base template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Data Analysis</title>
    <!-- Add any common stylesheets or links here, if needed -->
</head>
<body>
    <header>
        <h1>Project for Applications of Software Architecture for Big Data</h1>
        <!-- Navigation bar can be added here if needed -->
    </header>

    <main>
        {% block content %}
        <!-- This is where content from child templates will be inserted -->
        {% endblock %}
    </main>

    <footer>
        <!-- Add footer content here if desired -->
        <p>Reddit Data Analysis &copy; 2023</p>
    </footer>

    <!-- Add any common scripts or libraries here, if needed -->
</body>
</html>
