{% extends 'redditapp/base.html' %}

{% load static %}

{% block content %}
    <!-- Introduction Section -->
    <div>
        <h1>Welcome to the NS Sentiment Analysis Dashboard</h1>
        <p>
            This project seeks to understand the sentiments of Singaporeans serving National Service (NS) in Singapore, through the discussions in the r/NationalServiceSG subreddit. 
            It is an initial MVP intended to assist policy makers and defence executives in decision-making and policies formulation. 
            By scraping Reddit posts in the subreddit, a simple word frequency chart and word cloud is used to analysis and visualise their sentiments. 
            This MVP drives the potential to deep dive into our National Service men’ sentiments through future analysis capabilities.
        </p>
        <h2>Project Overview:</h2>
        <ul>
            <li><strong>Background:</strong> Reddit Scraping of r/NationalServiceSG to NS men sentiments.</li>
            <li><strong>Data Collection:</strong> Current top 100 hot posts in r/NationalServiceSG.</li>
            <li><strong>Data Analysis:</strong> Sentiment Analysis using NLTK (Positive, Neutral, Negative) and Word Frequencies of posts.</li>
            <li><strong>Data Visualisation:</strong> Visualise a Word Frequency Chart and a Word Cloud representing common themes.</li>
            <li><strong>Make a Suggestion:</strong> Find this interesting? Make a suggestion on how I can improve this site at the bottom of the page.</li>
        </ul>
    </div>

    <!-- Analysis Section -->
    <div>
        <h2>Analysis Results</h2>
        <h3>Average Sentiment Score: {{ avg_sentiment }}</h3>
        <img src="{% static image_path %}" alt="Word Frequencies" style="max-width: 100%; height: auto;">
    </div>

    <!-- Additional Results Section -->
    <div>
        <h2>Word Cloud</h2>
        <img src="{% static wordcloud_image_path %}" alt="Word Cloud" style="max-width: 100%; height: auto;">
    </div>

    <!-- Suggestion Section -->
    <div>
        <h2>Suggest a Feature</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        <h3>Existing Suggestions:</h3>
        <ul>
            {% for suggestion in suggestions %}
                <li>{{ suggestion.text }} - {{ suggestion.created_at|date:"d M Y" }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
